<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
    <h4>
        Shopping Guide</h4>
    <ul class="links">
        <li class="first"><a href="#" title="How to buy">How to buy</a></li>
        <li><a href="faq.html" title="FAQs">FAQs</a></li>
        <li><a href="#" title="Payment">Payment</a></li>
        <li><a href="#" title="Shipment&lt;/a&gt;">Shipment</a></li>
        <li><a href="#" title="Where is my order?">Where is my order?</a></li>
        <li class="last"><a href="#" title="Return policy">Return policy</a></li>
    </ul>
</div>
