<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-12 coppyright">
                &copy; 2017 Nhadat10ty</div>
            <div class="col-sm-8 col-xs-12 company-links">
                <ul class="links">
                    <li><a href="#" title="Magento Themes">Home</a></li>
                    <li><a href="#" title="Premium Themes">Register</a></li>
                    <li><a href="#" title="Responsive Themes">Help</a></li>
                    <li class="last"><a href="#" title="Magento Extensions"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
