<div class="mini-cart">
    <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle">
        <a href="#"><span>Shopping Cart (5)</span></a></div>
    <div>
        <div style="display: none;" class="top-cart-content arrow_box">
            <div class="block-subtitle">
                Recently added item(s)</div>
            <ul id="cart-sidebar" class="mini-products-list">
                <li class="item odd"><a href="product_detail.html" title="Sample Product" class="product-image">
                    <img src="@Url.Content("~/Assets/Site/products-images/product3.jpg")" alt="Sample Product" width="55"></a>
                    <div class="product-details">
                        <a href="#" title="Remove This Item" onclick="" class="btn-remove1">Remove This Item</a>
                        <a class="btn-edit" title="Edit item" href="#">Edit item</a>
                        <p class="product-name">
                            <a href="product_detail.html">Sample Product</a>
                        </p>
                        <strong>1</strong> x <span class="price">$20.00</span>
                    </div>
                </li>
                <li class="item even"><a href="product_detail.html" title="Sample Product" class="product-image">
                    <img src="@Url.Content("~/Assets/Site/products-images/products-images/product1.jpg")" alt="Sample Product" width="55"></a>
                    <div class="product-details">
                        <a href="#" title="Remove This Item" onclick="" class="btn-remove1">Remove This Item</a>
                        <a class="btn-edit" title="Edit item" href="#">Edit item</a>
                        <p class="product-name">
                            <a href="product_detail.html">Sample Product</a>
                        </p>
                        <strong>1</strong> x <span class="price">$230.00</span>
                    </div>
                </li>
                <li class="item last odd"><a href="product_detail.html" title="Sample Product" class="product-image">
                    <img src="@Url.Content("~/Assets/Site/products-images/products-images/product5.jpg")" alt="Sample Product" width="55"></a>
                    <div class="product-details">
                        <a href="#" title="Remove This Item" onclick="" class="btn-remove1">Remove This Item</a><a
                            class="btn-edit" title="Edit item" href="#">Edit item</a>
                        <p class="product-name">
                            <a href="product_detail.html">Sample Product</a>
                        </p>
                        <strong>2</strong> x <span class="price">$420.00</span>
                    </div>
                </li>
            </ul>
            <div class="top-subtotal">
                Subtotal: <span class="price">$520.00</span></div>
            <div class="actions">
                <button class="btn-checkout">
                    <span>Checkout</span></button>
                <button class="view-cart">
                    <span>View Cart</span></button>
            </div>
        </div>
    </div>
</div>
