<div class="dropdown block-currency-wrapper">
                    <a role="button" data-toggle="dropdown" data-target="#" class="block-currency dropdown-toggle"
                        href="#">USD <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">$ - Dollar </a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">£ - Pound </a>
                        </li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">€ - Euro </a></li>
                    </ul>
                </div>