<div class="dropdown block-language-wrapper">
    <a role="button" data-toggle="dropdown" data-target="#" class="block-language dropdown-toggle"
        href="#">
        <img src="@Url.Content("~/Assets/Site/images/english.png")" alt="language">
        English <i class="icon-angle-down"></i></a>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
            <img src="@Url.Content("~/Assets/Site/images/english.png")" alt="language">
            English </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
            <img src="@Url.Content("~/Assets/Site/images/francais.png")" alt="language">
            French </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">
            <img src="@Url.Content("~/Assets/Site/images/german.png")" alt="language">
            German </a></li>
    </ul>
</div>