<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MyDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DataLayer.Properties.Settings.MyDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=MyDB;Integrated Security=False;User ID=_bds;Password=bds123!@#;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>