<div class="row">
	<div class="col-xs-6 col-sm-4 col-md-3">
		<div class="thumbnail search-thumbnail">
			<span class="search-promotion label label-success arrowed-in arrowed-in-right">Sponsored</span>

			<img class="media-object" data-src="holder.js/100px200?theme=gray" />
			<div class="caption">
				<div class="clearfix">
					<span class="pull-right label label-grey info-label">London</span>

					<div class="pull-left bigger-110">
						<i class="ace-icon fa fa-star orange2"></i>

						<i class="ace-icon fa fa-star orange2"></i>

						<i class="ace-icon fa fa-star orange2"></i>

						<i class="ace-icon fa fa-star-half-o orange2"></i>

						<i class="ace-icon fa fa-star light-grey"></i>
					</div>
				</div>

				<h3 class="search-title">
					<a href="#" class="blue">Thumbnail label</a>
				</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-4 col-md-3">
		<div class="thumbnail search-thumbnail">
			<img class="media-object" data-src="holder.js/100px200?theme=gray" />
			<div class="caption">
				<div class="clearfix">
					<span class="pull-right label label-grey info-label">Tokyo</span>
				</div>

				<h3 class="search-title">
					<a href="#" class="blue">Thumbnail label</a>
				</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-4 col-md-3">
		<div class="thumbnail search-thumbnail">
			<img class="media-object" data-src="holder.js/100px200?theme=gray" />
			<div class="caption">
				<div class="clearfix">
					<span class="pull-right label label-grey info-label">Istanbul</span>
				</div>

				<h3 class="search-title">
					<a href="#" class="blue">Thumbnail label</a>
				</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
			</div>
		</div>
	</div>

	<div class="col-xs-6 col-sm-4 col-md-3">
		<div class="thumbnail search-thumbnail">
			<img class="media-object" data-src="holder.js/100px200?theme=social" />
			<div class="caption">
				<div class="clearfix">
					<span class="pull-right label label-grey info-label">Chicago</span>
				</div>

				<h3 class="search-title">
					<a href="#" class="blue">Thumbnail label</a>
				</h3>
				<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam ...</p>
			</div>
		</div>
	</div>
</div>
<div class="space-12"></div>