<div class="col-xs-12 col-sm-3">
	<div class="search-area well well-sm">
		<div class="search-filter-header bg-primary">
			<h5 class="smaller no-margin-bottom">
				<i class="ace-icon fa fa-sliders light-green bigger-130"></i>&nbsp; Lọc tìm kiếm
			</h5>
		</div>

		<div class="space-10"></div>

		<form>
			<div class="row">
				<div class="col-xs-12 col-sm-11 col-md-10">
					<div class="input-group">
						<input type="text" class="form-control" name="keywords" placeholder="Tìm theo tên" />
						<div class="input-group-btn">
							<button type="button" class="btn btn-default no-border btn-sm">
								<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>

		<div class="hr hr-dotted"></div>

		<h4 class="blue smaller">
			<i class="fa fa-tags"></i>
			Category
		</h4>

		<div class="tree-container">
			<ul id="cat-tree"></ul>
		</div>

		<div class="hr hr-dotted"></div>

		<h4 class="blue smaller">
			<i class="fa fa-map-marker light-orange bigger-110"></i>
			Location
		</h4>

		<div>

		</div>

		<div class="hr hr-dotted"></div>

		<h4 class="blue smaller">
			<i class="fa fa-location-arrow light-grey bigger-110"></i>
			Distance
		</h4>

		<div class="search-filter-element">
			<span>within</span>
&nbsp;
			<div id="slider-range" class="inline"></div>
			&nbsp;
			<span>miles</span>
		</div>

		<div class="hr hr-dotted hr-24"></div>

		<div class="text-center">
			<button type="button" class="btn btn-default btn-round btn-sm btn-white">
				<i class="ace-icon fa fa-remove red2"></i>
				Reset
			</button>

			<button type="button" class="btn btn-default btn-round btn-white">
				<i class="ace-icon fa fa-refresh green"></i>
				Update
			</button>
		</div>

		<div class="space-4"></div>
	</div>
</div>
