.skin-green .navbar{background:#90EE90}
.skin-green .navbar .navbar-toggle{background-color:#90EE90}
.skin-green .navbar .navbar-toggle:focus{background-color:#75B3D7;border-color:transparent}
.skin-green .navbar .navbar-toggle:hover{background-color:#61a8d1;border-color:rgba(255,255,255,.1)}
.skin-green .navbar .navbar-toggle.display,
.skin-green .navbar .navbar-toggle[data-toggle=collapse]:not(.collapsed){background-color:#4d9dcc;box-shadow:inset 1px 1px 2px 0 rgba(0,0,0,.25);border-color:rgba(255,255,255,.35)}
.skin-green .sidebar{background-color:#F2F2F2;border-style:solid;border-color:#CCC;border-width:0 1px 0 0}
.skin-green .nav-list .open>a,
.skin-green .nav-list .open>a:focus,
.skin-green .nav-list .open>a:hover{background-color:#FAFAFA}
.skin-green .nav-list>li{border-color:#E5E5E5}
.skin-green .nav-list>li>a{background-color:#F8F8F8;color:#585858}
.skin-green .nav-list>li>a:focus{background-color:#F8F8F8;color:#1963AA}
.skin-green .nav-list>li:hover>a{background-color:#FFF;color:#266cad}
.skin-green .nav-list>li.open>a{background-color:#FAFAFA;color:#1963AA}
.skin-green .nav-list>li.active>a{font-weight:700;color:#5BC85B}
.skin-green .nav-list>li.active>a,
.skin-green .nav-list>li.active>a:focus,
.skin-green .nav-list>li.active>a:hover{background-color:#FFF}
.skin-green .nav-list>li .submenu{background-color:#FFF;border-color:#E5E5E5}
.skin-green .nav-list>li .submenu>li>a{border-top-color:#E4E4E4;background-color:#FFF;color:#616161}
.skin-green .nav-list>li .submenu>li>a:hover{color:#4B88B7;background-color:#F1F5F9}
.skin-green .nav-list>li .submenu>li.active>a{color:#5BC85B}
.skin-green .nav-list>li .submenu>li.active>a>.menu-icon{color:#C86139}
.skin-green .nav-list>li .submenu>li.active.open>a>.menu-icon{color:inherit}@media only screen and (min-width:992px){
	.skin-green .nav-list>li .submenu>li.active.hover>a.dropdown-toggle>.menu-icon{color:inherit}
}
.skin-green .nav-list>li .submenu>li.active:not(.open)>a{background-color:#F5F7FA}
.skin-green .nav-list>li .submenu>li.active:not(.open)>a:hover{background-color:#F1F5F9}
.skin-green .nav-list>li>.submenu .open>a,
.skin-green .nav-list>li>.submenu .open>a:focus,
.skin-green .nav-list>li>.submenu .open>a:hover{border-color:#E4E4E4}
.skin-green .nav-list>li>.submenu li>.submenu>li a{color:#757575}
.skin-green .nav-list>li>.submenu li>.submenu>li a:hover{color:#4B88B7;background-color:#F1F5F9}
.skin-green .nav-list>li>.submenu li.open>a,
.skin-green .nav-list>li>.submenu li>.submenu li.active>a,
.skin-green .nav-list>li>.submenu li>.submenu li.open>a{color:#4B88B7}
.skin-green .nav-list>li>.submenu:before,
.skin-green .nav-list>li>.submenu>li:before{border-color:#9dbdd6}
.skin-green .nav-list>li.active>.submenu:before,
.skin-green .nav-list>li.active>.submenu>li:before{border-color:#8eb3d0}
.skin-green .sidebar-toggle{background-color:#F3F3F3;border-color:#E0E0E0}
.skin-green .sidebar-toggle>.ace-icon{border-color:#BBB;color:#AAA;background-color:#FFF}
.skin-green .sidebar-shortcuts{background-color:#FAFAFA}
.skin-green .sidebar-fixed .sidebar-shortcuts{border-color:#DDD}
.skin-green .sidebar-shortcuts-mini{background-color:#FFF}
.skin-green .nav-list li>.arrow:before{border-right-color:#B8B8B8;border-width:10px 10px 10px 0;left:-10px}
.skin-green .nav-list li>.arrow:after{border-right-color:#FFF;border-width:10px 10px 10px 0;left:-9px}
.skin-green .nav-list>li.pull_up>.arrow:after{border-right-color:#FFF!important}
.skin-green .nav-list li.active>a:after{border-right-color:#5BC85B}
.skin-green .nav-list>li.active:after{display:block;content:"";position:absolute;right:-2px;top:-1px;bottom:0;z-index:1;border:2px solid #5BC85B;border-width:0 2px 0 0}
.skin-green .sidebar-scroll .nav-list>li.active:after{right:0}
.skin-green .sidebar.menu-min .nav-list>li>a>.menu-text{background-color:#F5F5F5;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);border-color:#CCC}
.skin-green .sidebar.menu-min .nav-list>li>a.dropdown-toggle>.menu-text{-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 2px 0 rgba(0,0,0,.1)}
.skin-green .sidebar.menu-min .nav-list>li.active>.submenu{border-left-color:#83B6D1}
.skin-green .sidebar.menu-min .nav-list>li>.submenu{background-color:#FFF;border:1px solid #CCC;border-top-color:#e6e6e6;-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 2px 0 rgba(0,0,0,.1)}
.skin-green .sidebar.menu-min .nav-list>li>.arrow:after{border-right-color:#F5F5F5;border-width:8px 8px 8px 0;left:-8px}
.skin-green .sidebar.menu-min .nav-list>li>.arrow:before{border-width:8px 8px 8px 0;left:-9px}
.skin-green .sidebar.menu-min .nav-list>li.active>.arrow:before{border-right-color:#5a9ec2}
.skin-green .sidebar.menu-min .nav-list>li.active>a>.menu-text{border-left-color:#83B6D1}
.skin-green .sidebar.menu-min .sidebar-shortcuts-large{background-color:#FFF;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);border-color:#CCC}
.skin-green .sidebar.menu-min .sidebar-toggle>.ace-icon{border-color:#b1b1b1}@media (max-width:991px){
	.skin-green .sidebar.responsive-min .nav-list>li>a>.menu-text{background-color:#F5F5F5;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);border-color:#CCC}
	.skin-green .sidebar.responsive-min .nav-list>li>a.dropdown-toggle>.menu-text{-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 2px 0 rgba(0,0,0,.1)}
	.skin-green .sidebar.responsive-min .nav-list>li.active>.submenu{border-left-color:#83B6D1}
	.skin-green .sidebar.responsive-min .nav-list>li>.submenu{background-color:#FFF;border:1px solid #CCC;border-top-color:#e6e6e6;-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 2px 0 rgba(0,0,0,.1)}
	.skin-green .sidebar.responsive-min .nav-list>li>.arrow:after{border-right-color:#F5F5F5;border-width:8px 8px 8px 0;left:-8px}
	.skin-green .sidebar.responsive-min .nav-list>li>.arrow:before{border-width:8px 8px 8px 0;left:-9px}
	.skin-green .sidebar.responsive-min .nav-list>li.active>.arrow:before{border-right-color:#5a9ec2}
	.skin-green .sidebar.responsive-min .nav-list>li.active>a>.menu-text{border-left-color:#83B6D1}
	.skin-green .sidebar.responsive-min .sidebar-shortcuts-large{background-color:#FFF;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);border-color:#CCC}
	.skin-green .sidebar.responsive-min .sidebar-toggle>.ace-icon{border-color:#b1b1b1}
}
@media only screen and (min-width:992px){
	.skin-green .nav-list li.hover>.submenu{-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);border-color:#CCC}
	.skin-green .nav-list li.hover>.submenu>li.active>a{background-color:#F5F5F5}
	.skin-green .nav-list li.hover>.submenu>li:hover>a{background-color:#EEF3F7;color:#2E7DB4}
}
@media only screen and (min-width:992px) and (max-width:991px){
	.skin-green .sidebar.navbar-collapse .nav-list li li.hover.active.open>a,
	.skin-green .sidebar.navbar-collapse .nav-list li li.hover:hover>a{background-color:#FFF}
	.skin-green .sidebar.navbar-collapse .nav-list li li.hover.open.active>a:hover,
	.skin-green .sidebar.navbar-collapse .nav-list li li.hover.open>a:hover,
	.skin-green .sidebar.navbar-collapse .nav-list li li.hover>a:hover{background-color:#F1F5F9}
	.skin-green .sidebar.navbar-collapse .nav-list>li .submenu>li.active.hover>a.dropdown-toggle>.menu-icon{color:#C86139}
	.skin-green .sidebar.navbar-collapse .nav-list>li .submenu>li.active.open.hover>a.dropdown-toggle>.menu-icon{color:inherit}
}
@media only screen and (min-width:992px){
	.skin-green .sidebar.navbar-collapse .nav-list>li.open.hover:not(:hover):not(:focus):not(.active)>a{color:#585858}
	.skin-green .sidebar.navbar-collapse .nav-list>li.open.hover:not(:hover):not(:focus):not(.active)>a>.arrow{color:inherit}
	.skin-green .sidebar.navbar-collapse .nav-list>li.open.hover:hover>a{background-color:#FFF}
	.skin-green .sidebar.navbar-collapse .nav-list>li>.submenu li.open.hover:not(:hover):not(:focus):not(.active)>a{color:#616161}
	.skin-green .sidebar.navbar-collapse .nav-list>li>.submenu li.open.hover:not(:hover):not(:focus):not(.active)>a>.arrow{color:inherit}
}
@media only screen and (min-width:992px) and (max-width:991px){
	.skin-green .sidebar.navbar-collapse .nav-list li.hover>.submenu{border-top-color:#E5E5E5;background-color:#FFF}
	.skin-green .nav-list li.hover>.submenu>li.active:not(.open)>a{background-color:#F5F7FA}
	.skin-green .nav-list li.hover>.submenu>li.active:not(.open)>a:hover{background-color:#F1F5F9}
}
@media only screen and (min-width:992px){
	.skin-green .sidebar.h-sidebar{background-color:#F8F8F8}
	.skin-green .sidebar.h-sidebar:before{background-color:#E4E4E4;-webkit-box-shadow:0 -1px 1px 0 rgba(0,0,0,.05) inset;box-shadow:0 -1px 1px 0 rgba(0,0,0,.05) inset}
	.skin-green .sidebar.h-sidebar .nav-list>li:hover,
	.skin-green .sidebar.h-sidebar .nav-list>li:hover+li{border-left-color:#CEDDE5}
	.skin-green .sidebar.h-sidebar .nav-list>li:last-child:hover{border-right-color:#CEDDE5}
	.skin-green .sidebar.h-sidebar .nav-list>li.active,
	.skin-green .sidebar.h-sidebar .nav-list>li.active+li,
	.skin-green .sidebar.h-sidebar .nav-list>li:hover+li.active{border-left-color:#5BC85B}
	.skin-green .sidebar.h-sidebar .nav-list>li.active:last-child{border-right-color:#5BC85B}
	.skin-green .sidebar.h-sidebar .nav-list>li.active:before{background-color:#5BC85B}
	.skin-green .sidebar.h-sidebar .nav-list>li.active>a:after{border-width:0 0 2px;border-color:transparent transparent #FFF;left:0;right:0;top:auto;bottom:-2px}
	.skin-green .sidebar.h-sidebar .sidebar-shortcuts-large{background-color:#FFF;border-color:#CCC;-webkit-box-shadow:2px 1px 2px 0 rgba(0,0,0,.1);box-shadow:2px 1px 2px 0 rgba(0,0,0,.1)}
	.skin-green .sidebar.h-sidebar .sidebar-shortcuts-large:after{border-bottom-color:#FFF}
	.skin-green .sidebar.h-sidebar .nav-list>li.hover>.submenu{border-color:#CCC}
	.skin-green .sidebar.h-sidebar.menu-min .nav-list>li.hover>.submenu{border-top-color:#e6e6e6}
	.skin-green .sidebar.h-sidebar .nav-list>li.hover>.arrow:after{border-color:transparent transparent #FFF}
	.skin-green .sidebar.h-sidebar .nav-list>li.hover>.arrow:before{border-color:transparent transparent #B8B8B8}
	.skin-green .sidebar.h-sidebar.menu-min .nav-list>li.hover>.arrow:after{border-bottom-color:#F5F5F5}
	.skin-green .sidebar.h-sidebar.menu-min .nav-list>li.active>a>.menu-text{border-left-color:#CCC}
}
@media only screen and (max-width:991px){
	body{overflow-x:hidden}
	.skin-green .sidebar.responsive .nav-list>li.active.open>a:after,
	.skin-green .sidebar.responsive-max .nav-list>li.active.open>a:after{display:block}
	.skin-green .sidebar.responsive .nav-list li li.active>a:after,
	.skin-green .sidebar.responsive-max .nav-list li li.active>a:after{display:none}
	.skin-green .sidebar.responsive .nav-list>li.active:after,
	.skin-green .sidebar.responsive-max .nav-list>li.active:after{height:41px}
	.skin-green .sidebar{border-width:0 1px 1px 0;border-top-color:#d6d6d6}
	.skin-green .menu-toggler+.sidebar.responsive{border-top-width:1px}
	.skin-green .sidebar.responsive-min{border-width:0 1px 0 0}
	.skin-green .sidebar.navbar-collapse{border-width:0;border-bottom-width:1px!important;border-bottom-color:#CCC;-webkit-box-shadow:0 2px 2px rgba(0,0,0,.1)!important;box-shadow:0 2px 2px rgba(0,0,0,.1)!important}
	.skin-green .sidebar.navbar-collapse.menu-min .nav-list>li>.submenu{background-color:#FFF}
}
.skin-green .sidebar-scroll .sidebar-shortcuts{border-bottom-color:#ddd}
.skin-green .sidebar-scroll .sidebar-toggle{border-top-color:#ddd}
.skin-green .main-container .menu-toggler{background-color:#444}
.skin-green .main-container .menu-toggler:before{border-top-color:#87B87F;border-bottom-color:#6FB3E0}
.skin-green .main-container .menu-toggler:after{border-top-color:#FFA24D;border-bottom-color:#D15B47}
.skin-green .main-container .menu-toggler>.toggler-text{border-top-color:#444}
.skin-green .nav-list>li.disabled:before{display:none!important}
.skin-green .nav-list>li.disabled>a{background-color:#ebebeb!important;color:#656565!important}
.skin-green .nav-list li .submenu>li.disabled>a,
.skin-green .nav-list li.disabled .submenu>li>a{background-color:#f2f2f2!important;color:#7a7a7a!important;cursor:not-allowed!important}.nav-list li li.highlight.active>a:after,.nav-list li li.highlight.active>a:before,.nav-list li.highlight li.active>a:after,.nav-list li.highlight li.active>a:before,
.skin-green .nav-list li .submenu>li.disabled>a>.menu-icon,
.skin-green .nav-list li.disabled .submenu>li>a>.menu-icon{display:none}.nav-list>li.highlight.active>a:after,.nav-list>li.highlight.active>a:before{display:block}
.skin-green .nav-list>li.highlight.active,
.skin-green .nav-list>li.highlight:hover{border-color:#C8D8E2}
.skin-green .nav-list>li.highlight.active+li,
.skin-green .nav-list>li.highlight:hover+li{border-top-color:#C8D8E2}
.skin-green .nav-list>li.highlight.active>a,
.skin-green .nav-list>li.highlight:hover>a{background-color:#FFF}
.skin-green .nav-list>li.highlight.active:after{display:none}
.skin-green .nav-list>li.highlight.active:before{display:block;background-color:#4f90c2}
.skin-green .nav-list>li.highlight.active>a{background-color:#F2F6F9!important}
.skin-green .nav-list>li.highlight.active>a:after,
.skin-green .nav-list>li.highlight.active>a:before{display:block;content:"";position:absolute;top:-1px;right:-9px;bottom:auto;z-index:1;border-style:solid;border-width:20px 0 21px 10px;border-color:transparent}
.skin-green .nav-list>li.highlight.active>a:before{border-left-color:#a0bccd;right:-10px}
.skin-green .nav-list>li.highlight.active>a:after{border-left-color:#F2F6F9}
.skin-green .nav-list li li.highlight.active>a{background-color:#F2F6F9}
.skin-green .nav-list li li.highlight.active.open>a{background-color:#FFF}
.skin-green .nav-list li li.highlight.active.open>a:hover{background-color:#F1F5F9}
@media (min-width:992px){
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active>a:after{display:block;content:"";position:absolute;top:auto;right:auto;bottom:-2px;left:50%;margin-left:-7px;border-color:transparent transparent #FFF;border-width:8px 7px}
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active>a:before{content:"";position:absolute;display:block;top:auto;right:auto;bottom:-1px;left:50%;margin-left:-7px;border-width:8px;border-color:transparent transparent #74add7}
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active.hover-show>a:after,
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active.hover-show>a:before,
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active:hover>a:after,
	.skin-green .sidebar.h-sidebar .nav-list>li.highlight.active:hover>a:before,
	.sidebar.compact .nav-list li.highlight.active>a:after,
	.sidebar.compact .nav-list li.highlight.active>a:before{display:none}
	.sidebar.compact.menu-min .nav-list li.highlight.active>a:after,
	.sidebar.compact.menu-min .nav-list li.highlight.active>a:before{display:block}
	.sidebar.h-sidebar .nav-list li.highlight.active>a:after,
	.sidebar.h-sidebar .nav-list li.highlight.active>a:before{display:block;border-width:8px!important;border-left-color:transparent!important;border-right-color:transparent!important}
	.sidebar.h-sidebar .nav-list>li.highlight.active:hover>a:after,
	.sidebar.h-sidebar .nav-list>li.highlight.active:hover>a:before{display:none!important}
}
.sidebar-scroll .nav-list>li.active.highlight>a:after,
.sidebar-scroll .nav-list>li.active.highlight>a:before{display:none!important}
.onpage-help-backdrop{position:absolute;z-index:99990;top:0;bottom:0;left:0;right:0;background-color:#000;filter:alpha(opacity=5);background-color:rgba(0,0,0,.05)}
.onpage-help-section{display:block;position:absolute;z-index:100000;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4DFFFFFF', endColorstr='#4DFFFFFF', GradientType=0);background-color:rgba(255,255,255,.3);border:1px dashed #8BBCD3;border-radius:4px;transition:background-color .2s,border-color .2s;-webkit-transition:background-color .2s,border-color .2s;text-align:center;vertical-align:middle;outline:0!important}
.onpage-help-section>.ie-hover-fix{display:block;position:absolute;top:0;bottom:0;left:0;right:0;background-color:#FFF;filter:alpha(opacity=1)}
.onpage-help-section:active,
.onpage-help-section:focus{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33C9D8EA', endColorstr='#33C9D8EA', GradientType=0);background-color:rgba(201,216,234,.2);border-color:#77ACC4}
.onpage-help-section:hover{filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#66C9D8EA', endColorstr='#66C9D8EA', GradientType=0);background-color:rgba(201,216,234,.4);border-color:#77ACC4;border-style:solid}
.onpage-help-section>.help-icon-1{font-size:18px;display:inline-block;position:absolute;z-index:1;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);opacity:0;filter:alpha(opacity=0);color:#FFF;text-shadow:0 0 2px #000;background-color:#85B8DB;border:2px solid #FFF;border-radius:100%;box-shadow:0 0 2px 1px rgba(0,0,0,.4);width:48px;height:48px;line-height:46px;transition:opacity .2s;-webkit-transition:opacity .2s}
.onpage-help-section:active>.help-icon-1,
.onpage-help-section:focus>.help-icon-1{opacity:.5}
.onpage-help-section:hover>.help-icon-1{opacity:1;filter:alpha(opacity=100)}
.onpage-help-section.help-section-small>.help-icon-1{font-size:18px;width:28px;height:28px;line-height:26px;border-radius:12px}
.onpage-help-section.help-section-smaller>.help-icon-1{font-size:14px;width:20px;height:20px;line-height:17px;border-radius:8px}
.onpage-help-section>.help-icon-2{position:absolute;z-index:2;left:-4px;top:-4px;width:18px;height:18px;line-height:16px;display:block;font-size:16px;color:orange;background-color:#FFF;border:1px solid orange;border-radius:4px;opacity:1;transition:all .2s;-webkit-transition:all .2s}
.onpage-help-section:hover>.help-icon-2{color:#59A34E;border-color:#59A34E;transform:scale(1.25);-webkit-transform:scale(1.25)}
.onpage-help-modal{z-index:100010}
.onpage-help-modal+.modal-backdrop{z-index:100009}
.onpage-help-modal-buttons button{border-radius:100%;border-width:2px!important}
.onpage-help-modal-buttons button.disabled{transform:scale(.9);-webkit-transform:scale(.9)}
.onpage-help-content{max-width:800px;margin:0 auto}.code-modal
.onpage-help-modal .modal-dialog{margin-top:6px;margin-bottom:6px}.code-modal
.onpage-help-modal .modal-header{padding-top:6px;padding-bottom:6px}.code-modal
.onpage-help-modal .modal-body{padding:10px 12px}
.onpage-help-modal pre{border-width:0;box-shadow:none;border-radius:0;margin-top:8px}
.onpage-help-modal .modal-title code{font-size:13px}
.onpage-help-modal .modal-body{font-size:14px}
@media print{
	.main-content .nav-search,.navbar,.sidebar{display:none!important}.footer,.footer .footer-inner,.footer .footer-inner .footer-content{width:100%}
	.main-content{margin-left:0!important;margin-right:0!important}
	.main-content .breadcrumbs{float:right;border-width:0!important}
	.main-content .breadcrumbs .breadcrumb>li+li:before{content:"/"}
	.main-content .breadcrumbs .breadcrumb .home-icon{display:none}.ace-settings-container,.btn-scroll-up,.label[class*=arrowed]:after,.label[class*=arrowed]:before{display:none!important}.footer{height:auto;position:relative}.btn,.btn.btn-app{background:0 0!important;border-width:1px!important;border-radius:0!important;color:#555!important}.label{border:1px solid #666!important}
}


 breadcrumb-style
 {
     width: 350px !important;
 }