@{
    ViewBag.Title = "Forgot password";
    Layout = "~/Areas/Admin/Views/User/_LoginLayout.cshtml";
}
@section MainLogin{
<div id="signup-box" class="forgot-box widget-box no-border visible">
	<div class="widget-body">
        <div class="widget-main">
	        <h4 class="header red lighter bigger">
		        <i class="ace-icon fa fa-key"></i>
		        Lấy lại mật khẩu
	        </h4>

	        <div class="space-6"></div>
	        <p>
		        Hãy nhập email của bạn và check email để lấy lại mật khẩu.
	        </p>

            @using (Html.BeginForm("ForgotPassword", "User", new { area = "Admin" }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset>
			        <label class="block clearfix">
				        <span class="block input-icon input-icon-right">
                            @Html.TextBox("Email", null, new {@class="form-control", placeholder="Email"  })
					        <i class="ace-icon fa fa-envelope"></i>
				        </span>
			        </label>

			        <div class="clearfix">
				        <button type="submit" class="width-35 pull-right btn btn-sm btn-danger">
					        <i class="ace-icon fa fa-lightbulb-o"></i>
					        <span class="bigger-110">Gửi</span>
				        </button>
			        </div>
		        </fieldset>
                }
        </div><!-- /.widget-main -->

        <div class="toolbar center">
	        <a href="@Url.Action("Login","User")" data-target="#login-box" class="back-to-login-link">
		        Đăng nhập
		        <i class="ace-icon fa fa-arrow-right"></i>
	        </a>
        </div>
    </div>
</div>
}
